@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@font-face {
    font-family: "Alycidon Cond";
    src: url(./fonts/Alycidon-Condensed.otf);
    format:(".otf");
}

body {
    height: 100vh;
    font-family: 'Koulen', cursive;
    scroll-behavior: smooth;
}

h1 {
    font-size: 156px;
    animation: apparition-left 3s ease-out;
    letter-spacing: 10px;
}

#fer {
    animation: fer-rotate 3s;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "Alycidon Cond";
}

a {
    transition: all 2s ease;   
}

/* header */

header {
    background: url(./img/shelby.jpg);
    background-size: cover;
    height: 100vh;
    background-position-x: left ;
    filter: sepia(0.7);
}

.navbar {
    font-family: 'Koulen', cursive;
}

#navbarNav a:hover {
    color: #e50914;
     transform: scaleY(1.6);
}


.container .navbar-brand {
    background-image: url(./img/horseshoe.png);
    text-align: center;
    font-size: 0;
    width: 35px;
    height: 40px;
    display: block;
    background-size: cover;
}

@keyframes apparition-left {
    from {
        transform: translateX(-200px);
        opacity: 0;
        color: #fff3cb;
    }

    to {
        transform: translateX(0px);
        opacity: 1;

    }
}

@keyframes fer-rotate {
    to {
        transform: rotate(360deg);
    }
}

/*About*/

#about {
    height: 100vh;
    background-color: rgba(24, 24, 24, 0.97);
}

#top-line, #bottom-line {
    background-color: #e50914;
    height: 2px;
    margin: 0 auto;
    animation: line-apparition 1.3s 1.5s forwards;
    opacity: 0;
}

@keyframes line-apparition {
    to {
        opacity: 1;
    }
}


#about h2 {
    color: #fff3cb;
    font-size: 40px;
    letter-spacing: 6px;
    animation: apparition-title 1.3s;
}

@keyframes apparition-title {
    from {
        transform: scale(0.1);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes filter-animation {
    to {
        filter: grayscale(1);
    }
    
}


#about img {
    object-fit: cover;
    max-height: 250px;
    min-height: 250px;
    filter: grayscale(0);
    animation: filter-animation 2s forwards 2s;
}
.card {
    border-color: rgba(24, 24, 24, 0.97);
    background-color: rgba(24, 24, 24, 0.97);
    animation: border-apparition 1.3s forwards 2s;
}

@keyframes border-apparition {
    to {
        border-color: #e50914;
    }
}

.card-text h2 {
 color: #fff3cb!important;
 text-align: center;
}
.card-body {
    background-color: rgba(24, 24, 24, 0.97);
}

/* Galery */

#galery {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 24, 24, 0.97);
}

#carouselExampleControls {
    min-width: 80%;
}

#carouselExampleControls img {
    object-fit: cover;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.carousel-item {
    transition: 1.3s ease-in-out;
}