@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@font-face {
    font-family: "Alycidon Cond";
    src: url(./fonts/Alycidon-Condensed.otf);
    format:(".otf");
}

body {
    height: 100vh;
    font-family: 'Koulen', cursive;
    scroll-behavior: smooth;
}

h1 {
    font-size: 156px;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "Alycidon Cond";
}

a {
    transition: all 1.3 ease;   
}

/* header */

header {
    background: url(./img/shelby.jpg);
    background-size: cover;
    height: 100vh;
    background-position-x: left ;
    filter: sepia(0.7);
}

img {
    width: 100%;
}

.navbar {
    font-family: 'Koulen', cursive;
}

#navbarNav a:hover {
    color: #e50914;
     transform: scaleY(1.6);
}


.container .navbar-brand {
    background-image: url(./img/horseshoe.png);
    text-align: center;
    font-size: 0;
    width: 35px;
    height: 40px;
    display: block;
    background-size: cover;
}

/*About*/

#about {
    height: 100vh;
    background-color: rgba(24, 24, 24, 0.97);
}

#top-line, #bottom-line {
    background-color: #e50914;
    height: 2px;
    margin: 0 auto;
}

#about h2 {
    color: #fff3cb;
    font-size: 40px;
    letter-spacing: 6px;
}